@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: kalamehBold;
  src: url(../public/fonts/KalamehBold.ttf);
}
@font-face {
  font-family: kalamehBlack;
  src: url(../public/fonts/kalamehBlack.ttf);
}
@font-face {
  font-family: vazir;
  src: url(../public/fonts/vazir.ttf);
}
@font-face {
  font-family: peyda;
  src: url(../public/fonts/PeydaWeb.ttf);
}

body {
  text-align: right;
}

p {
  font-family: vazir;
}

a {
  background: rgba(0, 0, 0, 0);
}
.swiper-wrapper {
  margin-bottom: 60px;
}
.swiper-pagination > .swiper-pagination-bullet {
  background: #436e8e;
  width: 26px;
  height: 8px;
  border-radius: 5px;
}

.backdrop-blur-xl {
  --tw-backdrop-blur: blur(0px);
}

#my-leaflet-map {
  background: #436e8e;
  outline: 0;
}

.leaflet-bottom.leaflet-right,
.leaflet-popup-close-button {
  display: none;
}

.leaflet-popup.leaflet-zoom-animated > .leaflet-popup-content-wrapper {
  background: #436e8e;
  box-shadow: none;
}

.leaflet-popup-tip-container > .leaflet-popup-tip {
  background: #436e8e;
}
.checkBoxContainer span {
  margin-right: 0;
  margin-left: 12px;
}

.otp {
  width: 64px !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
