@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: kalamehBold;
  src: url(../public/fonts/KalamehBold.ttf);
}
@font-face {
  font-family: kalamehBlack;
  src: url(../public/fonts/kalamehBlack.ttf);
}
@font-face {
  font-family: vazir;
  src: url(../public/fonts/vazir.ttf);
}

p {
  font-family: vazir;
}
a {
  font-family: vazir;
  background: rgba(0, 0, 0, 0);
}

/* .phoneNav {
  height: 100px;
  width: 100%;
  background: url("../public/icons/theme/Rectangle 1phoneNavbar.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */
