@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: kalamehBold;
  src: url(../public/fonts/KalamehBold.ttf);
}
@font-face {
  font-family: kalamehBlack;
  src: url(../public/fonts/kalamehBlack.ttf);
}
@font-face {
  font-family: vazir;
  src: url(../public/fonts/vazir.ttf);
}

body {
  background-color: #f3f4f6;
  height: 100dvh;
}
p {
  font-family: vazir;
}
a {
  font-family: vazir;
}
